
/*["#ff0000", "#0000ff", "#00ff00", "#66ccdd"]*/

@import url("variables.css");

* {
    margin: 0;
    padding: 0;
}

/** ELementos HTML */
html, body {
    font-family: "Montserrat", sans-serif;
    position: fixed;
    overflow-x: hidden;
    height: 100%;
    height: -webkit-fill-available;
}

h1, h2, h3, h4, h5, h6{
    color: var(--black);
    padding: 0.5vw 0vw 0.5vw 0vw;
    font-weight: 700;
}

main{
    min-height: -webkit-fill-available;
    height: 100%; /* Fallback for browsers that do not support Custom Properties */
    width: 100vw;
}

/** PANTALLA DE CARGA */
.loading-screen {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    background-color: #4bedc2;
    width: 0%;
    height: 100%;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}

.loading-screen .loading-container{
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 70%;
    width: 70%;
}

.loading-screen .loading-container > h1{
    opacity: 0;
    font-size: 90px;
    font-weight: 800;
    color: white;
}

.load-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;
}

/** Contenedor portada */
.home-area{
    /*background: var(--grey-background);*/
    min-height: -webkit-fill-available;
    height: 100%; /* Fallback for browsers that do not support Custom Properties */
    width: 100vw;
}

#particles-js {
    position: absolute;
    width:100%;
    /*height: calc(400vh + 10%);*/
    height: 100%;
}

button{
    outline:none;
}

/** Contenedor que ocupa el header entero */
.navbarContainer{    
    position: relative;
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

/**      Contenedor que esta en medio. MENU     */
/** --------------------------------------------*/
.navbar{ 
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
}

.logo{
    height: 100%;
    width: 230px;
    display: inline-block;
}

.logo a {
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    text-decoration: none;
}

.logo a > *{
    margin-right: 4%;
}


.logo img{
    height: 40px; 
}

.navbar .menu a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
}

.navbar a:hover {
    color: var(--cover-hover-words)
}

.navOption {
    color: var(--black);
}

.navbar .menu{
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 80%;
    height: 100%;
}

.navbar .menu > *{
    margin-right: 4%;
}

.navbar #toggleMenu {
    display: none;
}

/** MENU LATERAL RESPONSIVE */
.home-area .mySidebar {
    color: var(--grey-background);
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    text-decoration: none;
    background: var(--verdeTundra);
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 25% 100%);
    height: 100%;
    width: 100%;
    
    transition: 0.4s;
    transition-timing-function: cubic-bezier(10,2,3,1);
    transform: translateX(30rem);
    z-index: 2;
}

.home-area .mySidebar #links {
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    height: 92%;
    width: 100%;
}

.home-area .mySidebar .logo{
    border-top: 0.5px solid;
    height: 8%;
    width: 100%;
}

.home-area .mySidebar .logo > *{
    margin-left: 60%;
}

.home-area .mySidebar .logo p{
    color: var(--grey-background);
    font-size: 17px;
}

/** --------------------------------------------*/


/**           Contenido de la portada           */
/** --------------------------------------------*/

.contentCover{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    width: 100vw;
}

.titleCover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    width: 100vw;
}

/**            Letras de la portada             */
/** --------------------------------------------*/
.infoCover{
    padding: 2% 0% 2% 0%;
    text-align: center;
}

.infoCover h1{
    font-size: 4.3em;
}

.infoCover h3{
    font-size: 1.8em;
}

.infoCover h4{
    font-size: 1.4em;
}

/**            Links de redes sociales          */
/** --------------------------------------------*/

.linksCoverContainer{
    display: block;
    height: 8%;
    width: 100%;
    text-align: center;
}

.linksCoverContainer > * {
    height: 100%;
    float: right;
    width: 100%;
}

.linksCover a img{
    height: 60px;
}

.linksCover > *{
    margin-right: 2%;
    margin-left: 2%;
}



/**                Flecha final                 */
/** --------------------------------------------*/

.arrowCoverContainer{
    margin-bottom: 1%;
    text-align: center;
    height: 6%;
}

.arrowCoverContainer > * {
    height: 100%;
    text-align: center;
}

.arrowCover a img{
    height: 100%;
}


/**                             MENU RESPONSIVE                       */
/** ------------------------------------------------------------------*/


/** Cover text responsive on screen size */
@media screen and (max-width: 1024px){
    .infoCover h1{ font-size: 3em; }
    .infoCover h3{ font-size: 1.6em; }
    .infoCover h4{ font-size: 1.1em; }
    .infoCover{padding: 2% 20% 3% 20%; }
    .linksCoverContainer{ height: 7%;}
    .linksCover{ width: 100%; }
    .arrowCoverContainer{ height: 6%; }
}

@media screen and (max-width: 710px){
    .infoCover h1{ font-size: 2.3em; }
    .infoCover h3{ font-size: 1.4em; }
    .infoCover h4{ font-size: 0.9em; }
    .infoCover{padding: 2% 15% 3% 15%; }
    .linksCoverContainer{ height: 7%; }
    .linksCover{ width: 100%; }
    .linksCover a img{ height: 50px; }
    .arrowCoverContainer{ height: 5%; }

    .loading-screen .loading-container > h1{
        font-size: 30px;
    }
}


/**                MENU MOBILE                  */
/** --------------------------------------------*/
/** When the screen is less than 600 pixels wide, hide all links, except for the first one 
**("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px){
    .navbar { width: 90%;}
    .navbar .menu a {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }
    .contentCover{
        height: 100%;
    }
    .infoCover{ text-align: center; }
    .infoCover h1{ font-size: 2em; }
    .infoCover h3{ font-size: 1.2em; }
    .infoCover h4{ font-size: 0.75em; }
    .infoCover{padding: 2% 10% 7% 10%; }
    .linksCoverContainer{ height: 6%; }
    .linksCover{ width: 100%; }
    .arrowCoverContainer{ height: 4%; }
    .linksCoverContainer > *{ 
        width: 100%;
        text-align: center;
    }
    .navbarContainer{
        position: absolute;
        width: 100vw;
        height: 100%;
    }
    .navbar .logo{ display: none; }
    .navbar #toggleMenu { display: inline-block; }
    .navbar {
        position: absolute; 
        width: 100%; 
        z-index: 3; 
    }
    .home-area .mySidebar{
        display: flex;
    }
    .navOption {
        text-align: end;
        color: var(--grey-background);
        padding: 12%;
        width: 75%;
        text-decoration: none;
        font-size: 25px;
        font-weight: bold;
    }
}

@media screen and (max-width: 391px){
    .infoCover h1{ font-size: 2em; }
    .infoCover h3{ font-size: 1.1em; }
    .infoCover h4{ font-size: 0.75em; }
    .infoCover{padding: 2% 8% 7% 8%; }
    .linksCoverContainer{ height: 6%;}
    .linksCover{ width: 100%; }
    .arrowCoverContainer{ height: 4%; }
    .linksCoverContainer > *{ 
        width: 100%;
        text-align: center;
    }
}



/* https://www.w3schools.com/howto/howto_js_topnav_responsive.asp
    https://www.w3schools.com/w3css/tryw3css_templates_startup.htm


    https://stackoverflow.com/questions/40720838/particles-js-as-a-background/40723146
*/