@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url("variables.css");

* {
    margin: 0;
    padding: 0;
}

/** ELementos HTML */
html, body {
    font-family: "Raleway", sans-serif;
    height: 100%;
}

h1{
    color: var(--black);
}

/** Contenedor portada */
.home-area{
    background-color: var(--grey-background);
    height: 100vh;
    width: 100vw;
}

#particles-js {
    position : absolute;
    width:100%;
    height:100%;
}

/** Contenedor que ocupa el header entero */
.navbarContainer{
    position: relative;
    height: 8%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

/**      Contenedor que esta en medio. MENU     */
/** --------------------------------------------*/
.navbar{
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: space-between;
    align-items: center;
}

.navbarContainer a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    margin: 6px;
}

.navbar a:hover {
    color: var(--cover-hover-words)
}

.navOption {
    color: var(--cover-words)
}

.navbar .icon {
    display: none;
}
/** --------------------------------------------*/


/**           Contenido de la portada           */
/** --------------------------------------------*/

.contentCover{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 92%;
}

.titleCover{
    border: 1px solid black;
    height: 87%;
}





/**                MENU RESPONSIVE             */
/** --------------------------------------------*/
/** When the screen is less than 600 pixels wide, hide all links, except for the first one 
**("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .navbar { width: 90%; }
    .navbar .menu a {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }
}

/** The "responsive" class is added to the topnav with JavaScript when the user clicks on 
**the icon. This class makes the topnav look good on small screens (display the links vertically
**instead of horizontally) */
@media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }



/* https://www.w3schools.com/howto/howto_js_topnav_responsive.asp
    https://www.w3schools.com/w3css/tryw3css_templates_startup.htm

    https://jacobdcastro.com/
    http://kathleen-huang.com/
    https://www.youtube.com/watch?v=HtWIrGqbEwI&list=LLnGspaOHk2GiYwmAa2z7Wfw&index=2&t=752s

    https://stackoverflow.com/questions/40720838/particles-js-as-a-background/40723146
*/