
.footer{
    font-weight: 600;
    color: var(--cover-hover-words);
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center;
    height: 10%;
}

.footer .linksCoverContainer {
    height: 60%;
}

.footer .credits{
    height: 40%;
}


.footer .linksCover a img{
    height: 30px;
}


.footer .linksCover > *{
    margin-right: 1%;
    margin-left: 1%;
}