
.titleTexto h3{
    font-size: 45px;
    font-weight: 900;
}

.titleTexto h4{
    font-size: 25px;
    font-weight: 600;
}

#projects .container{
    display: -webkit-flex;
    flex-direction: column;
    margin: 0 auto;
    width: 75%;
}

#projects .container .content{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3em;
    margin-top: 6%;
    margin-bottom: 6%;
}

#projects .container .content > a{
    background: var(--grey-background);
    text-decoration: none;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    height: 15cm;
    width: 100%;
}

#projects .container .content a .projectContent{
    height: 100%;
    position: relative;
    width: 100%;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
}

#projects .container .content a .projectContent .circles{
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    position: absolute;
    width: 100%;
    z-index: -7;
    height: 100%;
}

#projects .container .content a .projectContent .circles > *{
    height: 100%;
    position: absolute;
    width: 100%;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    transition: 0.5s ease-in-out;
}

#projects .container .content .projectContent .textoImg{
    display: -webkit-flex;
    flex-direction: row;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    height: 100%;
    width: 100%;
}

#projects .container .content .projectContent .textoImg > div{
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#projects .container .content .projectContent .textoImg .titleTexto .titleProject{
    transform: translateY(3rem);
    transition-timing-function: linear;
    display: unset;
}

#projects .container .content .projectContent .textoImg .titleTexto .descripcion{
    display: unset;
}

#projects .container .content .projectContent .textoImg .titleTexto .readMore{
    color: var(--trafficSim);
    font-size: 35px;
    padding-top: 5%;
    display: none;
}

#projects .container .content .projectContent .textoImg .titleTexto{
    width: 60%;
    padding: 2%;
    height: 100%;
}

#projects .container .content .projectContent .textoImg .image {
    width: 40%;
    height: 100%;
}

#projects .container .content .projectContent .textoImg .image > img{
    height: 60%;
}


/**               FACE DETECTION                */
/** --------------------------------------------*/

#projects .container .content .faceDetection h3{
    color: var(--faceDetection);
}

#projects .container .content .faceDetection p{
    color: var(--grey-background);
}

#projects .container .content .faceDetection{
    z-index: 0;
}

#projects .container .content .faceDetection .circles .circle1{
    background: var(--faceDetection);
    clip-path: circle(25px at 10% 10%);
}

#projects .container .content .faceDetection .circles .circle2{
    background: var(--faceDetection);
    clip-path: circle(25px at 40% 90%);
}

#projects .container .content .faceDetection .circles .circle3{
    background: var(--faceDetection);
    clip-path: circle(120px at 81% 40%);
}

/**               JOE ASSISTANT                 */
/** --------------------------------------------*/
#projects .container .content .joeAssistant h3{
    color: var(--joeAssistant);
}

#projects .container .content .joeAssistant p{
    color: var(--grey-background);
}

#projects .container .content .joeAssistant{
    grid-column: 1/3;
    z-index: 0;
}

#projects .container .content .joeAssistant .circles .circle1{
    background: var(--joeAssistant);
    clip-path: circle(20px at 60% 70%);
}

#projects .container .content .joeAssistant .circles .circle2{
    background: var(--joeAssistant);
    clip-path: circle(20px at 10% 85%);
}

#projects .container .content .joeAssistant .circles .circle4{
    background: var(--joeAssistant);
    clip-path: circle(25px at 45% 15%);
}

#projects .container .content .joeAssistant .circles .circle3{
    background: var(--joeAssistant);
    clip-path: circle(300px at 90% 1%);
}


#projects .container .content .joeAssistant .projectContent .textoImg .titleTexto #readMoreJoeAssistant{
    display: block;
}


/**               MATCH IT UP                   */
/** --------------------------------------------*/
#projects .container .content .matchItUp h3{
    color: var(--matchitup);
}

#projects .container .content .matchItUp p{
    color: var(--grey-background);
}

#projects .container .content .matchItUp{
    z-index: 0;
}

#projects .container .content .matchItUp .circles .circle1{
    background: var(--matchitup);
    clip-path: circle(20px at 50% 20%);
}

#projects .container .content .matchItUp .circles .circle2{
    background: var(--matchitup);
    clip-path: circle(25px at 20% 80%);
}

#projects .container .content .matchItUp .circles .circle3{
    background: var(--matchitup);
    clip-path: circle(120px at 81% 40%);
}


/**                 PORTFOLIO                   */
/** --------------------------------------------*/
#projects .container .content .portfolio h3{
    color: var(--portfolio);
}

#projects .container .content .portfolio p{
    color: var(--grey-background);
}

#projects .container .content .portfolio{
    grid-column: 1/3;
    z-index: 0;
}

#projects .container .content .portfolio .circles .circle1{
    background: var(--portfolio);
    clip-path: circle(20px at 60% 70%);
}

#projects .container .content .portfolio .circles .circle2{
    background: var(--portfolio);
    clip-path: circle(20px at 10% 85%);
}

#projects .container .content .portfolio .circles .circle4{
    background: var(--portfolio);
    clip-path: circle(25px at 40% 15%);
}

#projects .container .content .portfolio .circles .circle3{
    background: var(--portfolio);
    clip-path: circle(300px at 90% 1%);
}

#projects .container .content .portfolio .projectContent .textoImg .titleTexto .titleProject{
    transform: translateY(1.5rem);
}

/**                  ASTEYO                     */
/** --------------------------------------------*/
#projects .container .content .asteyo h3{
    color: var(--asteyo);
}

#projects .container .content .asteyo p{
    color: var(--grey-background);
}

#projects .container .content .asteyo{
    z-index: 0;
}

#projects .container .content .asteyo .circles .circle1{
    background: var(--asteyo);
    clip-path: circle(25px at 43% 16%);
}

#projects .container .content .asteyo .circles .circle2{
    background: var(--asteyo);
    clip-path: circle(25px at 20% 83%);
}

#projects .container .content .asteyo .circles .circle3{
    background: var(--asteyo);
    clip-path: circle(120px at 81% 40%);
}

/**               PRODUCT CATALOG               */
/** --------------------------------------------*/
#projects .container .content .productCatalogue h3{
    color: var(--productCatalog);
}

#projects .container .content .productCatalogue p{
    color: var(--grey-background);
}

#projects .container .content .productCatalogue{
    z-index: 0;
}

#projects .container .content .productCatalogue .circles .circle1{
    background: var(--productCatalog);
    clip-path: circle(20px at 50% 15%);
}

#projects .container .content .productCatalogue .circles .circle2{
    background: var(--productCatalog);
    clip-path: circle(25px at 30% 85%);
}

#projects .container .content .productCatalogue .circles .circle3{
    background: var(--productCatalog);
    clip-path: circle(120px at 81% 40%);
}

/**               TRAFFIC SIMULATOR             */
/** --------------------------------------------*/
#projects .container .content .trafficSim h3{
    color: var(--trafficSim);
}

#projects .container .content .trafficSim p{
    color: var(--grey-background);
}

#projects .container .content .trafficSim{
    z-index: 0;
}

#projects .container .content .trafficSim .circles .circle1{
    background: var(--trafficSim);
    clip-path: circle(25px at 25% 20%);
}

#projects .container .content .trafficSim .circles .circle2{
    background: var(--trafficSim);
    clip-path: circle(25px at 55% 85%);
}

#projects .container .content .trafficSim .circles .circle3{
    background: var(--trafficSim);
    clip-path: circle(120px at 81% 40%);
}

/**                  TO-DO LIST                 */
/** --------------------------------------------*/
#projects .container .content .todoList h3{
    color: var(--todoList);
}

#projects .container .content .todoList p{
    color: var(--grey-background);
}

#projects .container .content .todoList{
    z-index: 0;
}

#projects .container .content .todoList .circles .circle1{
    background: var(--todoList);
    clip-path: circle(20px at 15% 15%);
}

#projects .container .content .todoList .circles .circle2{
    background: var(--todoList);
    clip-path: circle(25px at 55% 85%);
}

#projects .container .content .todoList .circles .circle3{
    background: var(--todoList);
    clip-path: circle(120px at 81% 40%);
}




@media screen and (max-width: 1024px){

    #projects .container{
        width: 90%;
    }
}