
.titleTexto h3{
    font-size: 45px;
    font-weight: 900;
}

.titleTexto h4{
    font-size: 25px;
    font-weight: 600;
}

#projects .container{
    display: -webkit-flex;
    flex-direction: column;
    margin: 0 auto;
    width: 75%;
}

#projects .container .content{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3em;
    margin-top: 6%;
    margin-bottom: 6%;
}

#projects .container .content > a{
    background: var(--grey-background);
    text-decoration: none;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    height: 15cm;
}

#projects .container .content a .projectContent{
    height: 100%;
    position: relative;
    width: 100%;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
}

#projects .container .content a .projectContent .circles{
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    position: absolute;
    width: 100%;
    z-index: -1;
    height: 100%;
}

#projects .container .content a .projectContent .circles > *{
    height: 100%;
    position: absolute;
    width: 100%;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    transition: 0.5s ease-in-out;
}

#projects .container .content .projectContent .textoImg{
    display: -webkit-flex;
    flex-direction: row;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    height: 100%;
    width: 100%;
}

#projects .container .content .projectContent .textoImg > div{
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#projects .container .content .projectContent .textoImg .titleTexto .titleProject{
    display: unset;
}

#projects .container .content .projectContent .textoImg .titleTexto .descripcion{
    display: none;
}

#projects .container .content .projectContent .textoImg .titleTexto .readMore{
    color: var(--trafficSim);
    font-size: 35px;
    padding-top: 10%;
    display: block;
}

#projects .container .content .projectContent .textoImg .titleTexto{
    width: 60%;
    padding: 2%;
    height: 100%;
}

#projects .container .content .projectContent .textoImg .image {
    width: 40%;
    height: 100%;
}

#projects .container .content .projectContent .textoImg .image > img{
    height: 60%;
}


/**               FACE DETECTION                */
/** --------------------------------------------*/
#projects .container .content .faceDetection{
    color: var(--faceDetection);
}

#projects .container .content .faceDetection .circles .circle1{
    background: var(--faceDetection);
    clip-path: circle(60px at 15% 15%);
}

#projects .container .content .faceDetection .circles .circle2{
    background: var(--faceDetection);
    clip-path: circle(40px at 70% 80%);
}

/** 15d1dd */
#projects .container .content .faceDetection:hover > .circles{
    background: var(--faceDetection);
    clip-path: circle(500px);
    color: white;
}

/**               JOE ASSISTANT                 */
/** --------------------------------------------*/
#projects .container .content .joeAssistant h3{
    color: var(--joeAssistant);
}

#projects .container .content .joeAssistant p{
    color: var(--grey-background);
}

#projects .container .content .joeAssistant{
    z-index: 1;
}

#projects .container .content .joeAssistant .circles .circle1{
    background: var(--joeAssistant);
    clip-path: circle(20px at 60% 15%);
}

#projects .container .content .joeAssistant .circles .circle2{
    background: var(--joeAssistant);
    clip-path: circle(20px at 15% 80%);
}

#projects .container .content .joeAssistant .circles .circle3{
    background: var(--joeAssistant);
    clip-path: circle(300px at 110% 50%);
}


/**               MATCH IT UP                   */
/** --------------------------------------------*/
#projects .container .content .matchItUp{
    color: var(--matchitup);
}

/** 87c51e */
#projects .container .content .matchItUp:hover{
    /*-webkit-box-shadow: 0px 0px 23px 9px rgba(135,197,30,1);
    -moz-box-shadow: 0px 0px 23px 9px rgba(135,197,30,1);
    box-shadow: 0px 0px 23px 9px rgba(135,197,30,1);*/
    background: var(--matchitup);
    color: white;
}

/**                 PORTFOLIO                   */
/** --------------------------------------------*/
#projects .container .content .portfolio{
    color: var(--portfolio);
}

/** ffc802 */
#projects .container .content .portfolio:hover{
    /*-webkit-box-shadow: 0px 0px 23px 9px rgba(255,200,2,1);
    -moz-box-shadow: 0px 0px 23px 9px rgba(255,200,2,1);
    box-shadow: 0px 0px 23px 9px rgba(255,200,2,1);*/
    background: var(--portfolio);
    color: white;
}


/**                  ASTEYO                     */
/** --------------------------------------------*/
#projects .container .content .asteyo{
    color: var(--asteyo);
}

/** a05ecc */
#projects .container .content .asteyo:hover{
    /*-webkit-box-shadow: 0px 0px 23px 9px rgba(160,94,204,1);
    -moz-box-shadow: 0px 0px 23px 9px rgba(160,94,204,1);
    box-shadow: 0px 0px 23px 9px rgba(160,94,204,1);*/
    background: var(--asteyo);
    color: white;
}

/**               PRODUCT CATALOG               */
/** --------------------------------------------*/
#projects .container .content .productCatalogue{
    color: var(--productCatalog);
}

/** 70ceb4 */
#projects .container .content .productCatalogue:hover{
    /*-webkit-box-shadow: 0px 0px 23px 9px rgba(112,206,180,1);
    -moz-box-shadow: 0px 0px 23px 9px rgba(112,206,180,1);
    box-shadow: 0px 0px 23px 9px rgba(112,206,180,1);*/
    background: var(--productCatalog);
    color: white;
}

/**               TRAFFIC SIMULATOR             */
/** --------------------------------------------*/
#projects .container .content .trafficSim{
    color: var(--trafficSim);
}

/** ff9400 */
#projects .container .content .trafficSim:hover{
    /*-webkit-box-shadow: 0px 0px 23px 9px rgba(255,148,0,1);
    -moz-box-shadow: 0px 0px 23px 9px rgba(255,148,0,1);
    box-shadow: 0px 0px 23px 9px rgba(255,148,0,1);*/
    background: var(--trafficSim);
    color: white;
}

/**                  TO-DO LIST                 */
/** --------------------------------------------*/
#projects .container .content .todoList{
    color: var(--todoList); /*#fe7c60; */
}

/** fe7c60 */
#projects .container .content .todoList:hover{
    /*-webkit-box-shadow: 0px 0px 23px 9px rgba(254,124,96,1);
    -moz-box-shadow: 0px 0px 23px 9px rgba(254,124,96,1);
    box-shadow: 0px 0px 23px 9px rgba(254,124,96,1);*/
    background: var(--todoList); /*#fe7c60;*/
    color: white;
}




@media screen and (max-width: 1024px){

    #projects .container{
        width: 90%;
    }
}