
@import "projects/joe.css";
@import "projects/face.css";
@import "projects/match.css";
@import "projects/product.css";
@import "projects/traffic.css";
@import "projects/todo.css";
@import "projects/asteyo.css";
@import "projects/portfolio.css";



/** Contenedor portada */
.project-area{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
}
.project-area .projectCover{
    display: -webkit-flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.project-area .projectCover .project-info{
    text-align: center;
    min-width: 60%;
    max-width: 100%;
    width: 60%;
    height: 100%;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;

}

.project-area .projectCover .project-info .projectTitle{
    display: -webkit-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 5%;
    height: 15%;
    min-height: 15%;
}

.project-area .projectCover .project-info .projectTitle .backLink {
    font-size:60px;
    color: var(--black);
    margin-right: 5%;
}

.project-area .projectCover .project-info .projectTitle .backLink:hover{
    color: var(--cover-hover-words);
}

.project-area .projectCover .project-info h1{
    font-size: 90px;
    font-weight: 800;
    margin-right: 8%;
}

.project-area .projectCover .project-info h3{
    font-weight: 700;
}

.project-area .projectCover .project-info .description{
    color: var(--black);
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 50%;
}

.project-area .projectCover .project-info .description .info{
    background: var(--grey-background);
    padding: 4%;
    -webkit-box-shadow: 0px 0px 12px -5px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 12px -5px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 12px -5px rgba(0,0,0,0.25);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;

}

.project-area .projectCover .project-info .title{
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 3%;
    text-align: center;
}

.project-area .projectCover .project-info .technologies{
    display: -webkit-flex;
    flex-direction: column;
    font-size: 20px;
    width: 75%;
    height: 25%;
}


.project-area .projectCover .franjaColor{
    position: fixed;
    right: 0;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    clip-path: polygon(13% 0, 100% 0, 100% 100%, 0% 100%);
    height: 101%;
    width: 40%; 
    z-index:3;
}

.project-area .projectCover .franjaColor img{
    position: absolute;
    z-index: 0;
}

.project-area .projectCover .franjaColor .infoFranja{
    margin-top: 90%;
    width: 70%;
    text-align: center;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.project-area .projectCover .franjaColor .infoFranja > *{
    padding: 1%;
}

.project-area .projectCover .franjaColor .infoFranja #joeAssistant{
    font-size: 35px;
    font-weight: 600;
    color: var(--trafficSim);
}

.project-area .projectCover .franjaColor .infoFranja p{
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.project-area .projectCover .franjaColor .infoFranja .links a,
.project-area .projectCover .project-info .technologies .links a{
    text-decoration: none;
    color: black;
}

.project-area .projectCover .franjaColor .infoFranja .links{
    padding: 2%;
    width: 90%; 
    display: -webkit-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    
}

.project-area .projectCover .franjaColor .infoFranja .links .buttonLink,
.project-area .projectCover .project-info .technologies .links .buttonLink{
    border: 1px solid var(--grey-background);
    padding: 3%;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    background: white;
    font-weight: 500;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 12px -5px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 12px -5px rgba(0,0,0,1);
    box-shadow: 0px 0px 12px -5px rgba(0,0,0,1);
}

.project-area .projectCover .project-info .technologies .links .buttonLink{
    color: white;
    font-weight: 600;
    border: none;
    display: none;
}

.project-area .projectCover .franjaColor .infoFranja .links a:hover{
    transform: scale(1.05);
}


.project-area .arrowCoverContainer{
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 0;
}

/** OJO SI SE PONE justify-content: center; ESTA MUY GUAPO **/
.projectInformation .row{ 
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 60vh;
}

.projectInformation .row .card {
    width: 60%;
}

.projectInformation .row .card h1{
    position: relative;
    font-size: 55px;
    font-weight: 800;
    color: white;
    padding-left: 5%;
    padding-right: 7%;
    clip-path: polygon(0 0, 50% 0, 53% 100%, 0% 100%);
    z-index: 1;
}

.projectInformation .row .card .description{
    color: var(--black);
    text-align: justify;
    font-weight: 400;
    line-height: 1.5;
    height: auto;
    font-size: 19px;
    margin-top: -1%;
    z-index: 0;
    background: var(--grey-background);
    padding: 5%;
    -webkit-box-shadow: 0px 0px 12px -5px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 12px -5px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 12px -5px rgba(0,0,0,0.25);
}

.projectInformation .challenges .card h1{
    text-align: right;
    padding-right: 5%;
    padding-left: 7%;
    z-index: 1;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 47% 100%);
}

.projectInformation .results .card h1{
    clip-path: polygon(0 0, 70% 0, 73% 100%, 0% 100%);
}


/** RESPONSIVE */

@media screen and (max-width: 1600px){
    .project-area .projectCover .project-info h1{
        font-size: 75px;
    }

    .project-area .projectCover .project-info h3{
        font-size: 17px;
    }

    .project-area .projectCover .project-info .description .info,
    .projectInformation .row .card .description{
        font-size: 16px;
    }

    .project-area .projectCover .project-info .title{
        font-size: 19px;
    }

    .project-area .projectCover .franjaColor .infoFranja{
        margin-top: 100%;
    }

    .projectInformation .row .card h1{
        font-size: 45px;
    }

    .projectInformation .row .imgNextToCard img{
        height: 350px;
    }
}

@media screen and (max-width: 1350px){
    .project-area .projectCover .project-info h1{
        font-size: 60px;
    }

    .project-area .projectCover .project-info h3{
        font-size: 14px;
    }

    .project-area .projectCover .project-info .description .info,
    .projectInformation .row .card .description{
        font-size: 14px;
    }

    .project-area .projectCover .project-info .title{
        font-size: 16px;
    }

    .project-area .projectCover .franjaColor .infoFranja{
        margin-top: 120%;
    }

    .project-area .projectCover .franjaColor .infoFranja #joeAssistant{
        font-size: 25px;
    }

    .project-area .projectCover .franjaColor .infoFranja p{
        font-size: 15px;
    }

    .project-area .projectCover .project-info .projectTitle .backLink{
        font-size: 50px;
        margin-right: 4%;
    }

    .projectInformation .row .card h1{
        font-size: 35px;
    }

    .projectInformation .row .imgNextToCard img{
        height: 250px;
    }
}

@media screen and (max-width: 1200px){
    .project-area .projectCover .project-info h1{
        font-size: 50px;
    }

    .projectInformation .row .card h1{
        font-size: 25px;
    }
}

@media screen and (max-width: 1050px){

    .projectInformation .row{
        flex-direction: column;
        margin-bottom: 5%;
        height: 100%;
    }

    .projectInformation .row .card{
        width: 65%;
    }

    .project-area .projectCover .project-info .technologies{
        justify-content: space-around;
        width: 100%;
    }

    .project-area .projectCover .project-info .description{
        height: 50%;
        width: 100%;
    }

    .projectInformation .row .imgNextToCard img{
        height: 300px;
    }

    .project-area .projectCover .project-info .technologies .links .buttonLink{
        font-size: 15px;
        padding: 2%;
    }
}

@media screen and (max-width: 900px){
    .project-area .projectCover .franjaColor{
        display: none;
    }

    .project-area .projectCover{
        justify-content: center;
        align-items: center;
    }

    .project-area .projectCover .project-info{
        width: 90%;
    }

    .project-area .projectCover .project-info .technologies{
        justify-content: space-around;
        width: 100%;
    }

    .project-area .projectCover .project-info .description{
        height: 50%;
        width: 100%;
    }

    .project-area .projectCover .project-info .technologies .links .buttonLink{
        display: inline-block;
    }

    .project-area .arrowCoverContainer .arrowCover{
        display: none;
    }

    
    .projectInformation .row .imgNextToCard img{
        height: 200px;
    }

    .project-area .projectCover .project-info .technologies .links .buttonLink{
        font-size: 10px;
    }
}

@media screen and (max-width: 600px){
    .project-area .projectCover .project-info h1{
        font-size: 30px;
    }

    .project-area .projectCover .project-info h3{
        font-size: 10px;
    }

    .project-area .projectCover .project-info .description .info,
    .projectInformation .row .card .description{
        font-size: 10px;
    }

    .project-area .projectCover .project-info .title{
        font-size: 12px;
    }

    .projectInformation .row .card h1{
        font-size: 12px;
    }

    .projectInformation .row .card {
        width: 90%;
    }

    .project-area .projectCover .project-info .technologies .links .buttonLink{
        font-size: 10px;
    }

    .projectInformation .row .imgNextToCard img{
        height: 100px;
    }
}