:root {
    --grey-background: #f9f9f9;
    --grey-projects: #f0f0f0;
    --cover-words: #a7a7a7;
    --cover-hover-words: #808080;
    --black: #292a2c;
    --verdeTundra: #70ceb4;
    --verdeTundraOscuro: #3DCBA4;
    --joeAssistant: #00c4f8;
    --faceDetection: #ed6f6f;
    --matchitup: #87c51e;
    --portfolio: #70ceb4;
    --asteyo: #a05ecc;
    --productCatalog: #ff9400;
    --trafficSim: #ffc802;
    --todoList: #3b5998;
}