#projects .container .content .joeAssistant:hover .projectContent .circles .circle3 {
    clip-path: circle(600px at 50% 50%);
}

#projects .container .content .joeAssistant .projectContent .circles .circle3{
    clip-path: circle(120px at 81% 40%);
}

#projects .container .content .joeAssistant:hover .projectContent .textoImg .titleTexto .titleProject{
    color: var(--grey-background);
    transition: color 0.45s;
    transition: 0.3s;
    transform: translateY(0rem);
}

#projects .container .content .joeAssistant .projectContent .textoImg .titleTexto .titleProject{
    color: var(--joeAssistant);
    transition: 0.5s;
    transform: translateY(3rem);
}

#projects .container .content .joeAssistant:hover .projectContent .textoImg .titleTexto .descripcion{
    display: block;
    color: var(--grey-background);
    visibility: visible;
}

#projects .container .content .joeAssistant .projectContent .textoImg .titleTexto .descripcion {
    visibility: hidden;
}

#projects .container .content .joeAssistant:hover .projectContent .textoImg .titleTexto #readMoreJoeAssistant{
    display: block;
    color: var(--grey-background);
    font-size: 25px;
    transition: color 0.45s;
}

#projects .container .content .joeAssistant .projectContent .textoImg .titleTexto #readMoreJoeAssistant {
    font-size: 35px;
    color: var(--trafficSim);
}

#projects .container .content .joeAssistant:hover .projectContent .textoImg .image > img {
    transform: scale(1.1);
    transition: transform 0.3s;
}

#projects .container .content .joeAssistant .projectContent .textoImg .image > img {
    transform: scale(1);
    transition: transform 0.5s;
}
