.project-area .projectCover .project-info #titleJoe,
.project-area .projectCover .project-info #descriptionJoe,
.project-area .projectCover .project-info .info #titleJoe,
.project-area .projectCover .project-info .technologies #titleJoe{
    color: var(--joeAssistant);
}

.project-area .projectCover #lateralJoe,
.project-area .projectCover .project-info .technologies .links #linkJoe,
.projectInformation .row .card #objectivesJoe,
.projectInformation .row .card #challengesJoe,
.projectInformation .row .card #resultsJoe{
    background: var(--joeAssistant);
}


#projectInformationJoe .objectives{
    margin-top: 5%;
}

#projectInformationJoe .row{
    height: fit-content;
    margin-bottom: 5%;
}

#projectInformationJoe .row .imgNextToCard{
    width: 30%;
    height: 100%;
}

#projectInformationJoe .row .imgNextToCard img{

    width: 100%;
    height: auto;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
}

#projectInformationJoe .objectives .imgNextToCard img{
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.42);
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.42);
}