.project-area .projectCover .project-info #titleJoe,
.project-area .projectCover .project-info #descriptionJoe,
.project-area .projectCover .project-info .info #titleJoe,
.project-area .projectCover .project-info .technologies #titleJoe{
    color: var(--joeAssistant);
}

.project-area .projectCover #lateralJoe,
.project-area .projectCover .project-info .technologies .links #linkJoe,
.projectInformation .row .card #objectivesJoe,
.projectInformation .row .card #challengesJoe,
.projectInformation .row .card #resultsJoe{
    background: var(--joeAssistant);
}


/*#projectInformationJoe .row{
    align-items: flex-start;
    height: fit-content;
}

#projectInformationJoe .row .card{
    width: 80%;
}
#projectInformationJoe .objectives{
    margin-top: 5%;
    margin-bottom: 3%;
}

#projectInformationJoe .objectives .card{
    border: 1px solid black;
    display: -webkit-flex;
    flex-direction: row;
}

#projectInformationJoe .objectives .card h1{
    clip-path: unset;
    width: 30%;
    border:1px solid black;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}

#projectInformationJoe .objectives .card .description{
    margin-top: unset;
    width: 100%;
}

#projectInformationJoe .challenges .card h1{
    clip-path: unset;
    border:1px solid black;
}

#projectInformationJoe .challenges .imgNextToCard{
    border: 1px solid black;
    display: -webkit-flex;
    flex-direction: column;
    width: 45%;
}

#projectInformationJoe .row .imgNextToCard img{
    height: auto;
    width: 100%;
}*/

#projectInformationJoe .row{
    height: fit-content;
}

#projectInformationJoe .row .imgNextToCard{
    width: 28%;
}

#projectInformationJoe .row .imgNextToCard img{
    border: 1px solid black;
    height: auto;
    width: 100%;
}